.userProfile {
  // position: relative;
  width: 320px;
  // height: 910px;
  margin: 0 auto;
  background: #FFF;
  box-shadow: 0 0 4px 0 rgba(172, 172 ,172 , .5);
  border-radius: 5px;
  border-top: 95px solid #002C71;
}

// .backgroundDecor {
//   height: 95px;
//   background: #002C71;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
// }
