.userCard {
  position: relative;
  margin-top: -59px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 17px;
  background: #FFF;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, .5);
  border-radius: 5px;
}
.avatar {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.share {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--accentColorLight);
}
.heading {
  display: flex;
  justify-content: center;
  padding: 14px 0 0 32px;
}
.name {
  padding-right: 10px;
  font-size: 18px;
  color: var(--accentColorDark);
  line-height: 24px;
}
.like {
  color: #D9D9D9;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.location {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: var(--fontLight);
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 35px 0 0;
}
.statistics {
  display: flex;
  justify-content: center;
  flex: 1;
  padding-bottom: 20px;
  list-style: none;
}

@media (min-width: 500px) {
  .avatar {
    top: 20px;
    left: 20px;
    margin-left: 0;
  }
  .heading {
    margin-left: 59px;
    padding: 17px 0 0 28px;
    justify-content: flex-start;
  }
  .location {
    margin-left: 87px;
    text-align: left;
  }
  .content {
    flex-direction: row;
    align-items: center;
    padding: 31px 0 11px;
    justify-content: space-between;
  }
  .statistics {
    padding-bottom: 0;
    justify-content: space-between;
    flex: none;
  }
}
