.formBox {
  position: absolute;
  bottom: -62.5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 14.5px 25px 16px;
  border-radius: 0 0 5px 5px;
  background: #FFF;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, .5);
}
textarea {
  width: 100%;
  height: 28px;
  resize: none;
  padding: 5px;
  font-size: 14px;
  color: var(--fontLight);
  line-height: 14px;
  background: #FFF;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #DBE0E8;
}
textarea::placeholder {
  color: var(--fontLight);
  font-size: 18px;
}
.error {
  color: #Ef1426;
  font-size: 14px;
}

@media (min-width: 500px) {
  .formBox {
    padding: 40px 25px 30px;
    bottom: -101.5px;
  }
}
