.statistic {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-right: 1px solid rgba(151, 151, 151, .15);
  width: 105px;
  word-wrap: break-word;
  &:last-child {
    border-right: 0;
  }
}
.value {
  color: var(--accentColorLight);
  font-size: 24px;
}
.label {
  font-size: 10px;
  color: var(--fontLight);
  text-transform: capitalize;
}

@media (min-width: 500px) {
  .statistic {
    width: auto;
    min-width: 60px;
    max-width: 105px;
    &:first-child {
      padding-left: 0;
    }
  }
}
