.shareDialog {
  background: #FFF;
  max-width: 450px;
  min-width: 200px;
  height: 200px;
  padding: 20px;
  overflow-y: scroll;
  position: relative;
  border-radius: 5px;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 1px 1px 8px 0 #222;
  animation: show .5s ease;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.shareDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}
.information {
  padding-bottom: 15px;
  color: #444;
}
.link {
  color: #FFA640;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
