.commentsContainer {
  // position: absolute;
  // top: 290px;
  // left: 0;
  // right: 0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  // width: 285px;
  box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 0 0 15px;
  position: relative;
}
.comments {
  height: 530px;
  overflow-x: scroll;
  list-style: none;
  padding-right: 15px;
}

.innerCommentsContainer {

}
