.commentsContainer {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, .5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
.comments {
  height: 453.5px;
  padding-right: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
}
.toggleComments {
  display: block;
  padding: 25px 20px 30px 20px;
  color: var(--accentColorLight);
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

@media (min-width: 500px) {
  .commentsContainer  {
    margin-top: 10px;
  }
  .comments {
    height: 495px;
  }
  .toggleComments {
    text-align: left;
  }
}
